 /* Стиль для Accordion */
 #accordion {
    width: 400px;
    margin-bottom: 20px;
}
#accordion h3 {
    background-color: #ccc;
    padding: 10px;
    cursor: pointer;
    margin: 0;
}
#accordion div {
    padding: 10px;
}

/* Стиль для Menu */
#menu {
    width: 200px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#menu li {
    background-color: #f0f0f0;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
#menu li div {
    cursor: pointer;
}
#menu li ul {
    display: none;
    margin-left: 20px;
    list-style-type: none;
}
#menu li ul li div {
    background-color: #e0e0e0;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

/* Стиль для Tooltip */
.ui-tooltip {
    max-width: 200px;
    background-color: #333;
    color: #fff;
    padding: 5px;
}