header{
    text-align: center;
}

figure img{
    object-fit: cover;
    width: 150px;
    height: 170px;
}

#labs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

aside li {
    list-style-type: none;
}

aside ul {
    margin-top: 0;
  }

#labs button{
    height: 50px;
    margin-right: 5px;
    margin-top: 5px;

    background: #bcd2ff;
    border: 0;
    border-radius: 12px;

    font-family: system-ui;
    font-size: 12px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

aside{
    float:left;
}

button:active{
    background: #c9c9c9;
}

aside button{
    background: rgb(255, 252, 155);
    border: 0;
    border-radius: 12px;

    height: 50px;
    width: 240px;
    margin-right: 5px;
    margin-left: -10%;
    margin-top: 5px;
    display: block;
    
    font-family: system-ui;
    font-size: 12px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.info{
    background-color:rgb(245, 245, 245);
    min-height: 320px;
    padding: 5px 10px 5em 20px;
    margin: 5px 5% 0 300px;
}

.info a{
    color: hotpink;
}

h4{
    text-align: center;
}

.screen_design{
    margin-top: 1em;
    width: 80%;
}

a[href="https://www.google.com"] {
  color: red;
}

div h5 {
    color: blue;
  }

article p{
    /* Встановлення шрифту */
    font-family: Arial, sans-serif;
    font-size: 16px;
    /* Встановлення контуру */
    border: 2px solid #4583ff;
    border-style: dashed;
    /* Встановлення фону */
    background-color: #b4c1fa;
    /* Встановлення коліру тексту */
    color: rgb(79, 79, 79);
}

    /* Стилі для таблиць */
article table {
    border-collapse: collapse;
    width: 80%;
}

article th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(0, 0, 0);
}

article tr:hover {
    background-color: rgb(151, 151, 151);
}

    /* Стилі для списків */
article ul {
    list-style-type: none;
  }

article li {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  width: 60%;
}

/* Стилі для анімацій */
@keyframes resize {
    from {
      font-size: 8px;
    }
    to {
      font-size: 16px;
    }
  }
  
article .animation {
    animation-name: resize;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }