#header {
    background: #faca45;
    height: 20px;
    border-right-style:none;
}

#table1 {
    width: 90%;
    margin-left: 5%;
    border-collapse: collapse;
    border: 1px solid black;
}

#table2 {
    width: 100%;
    border-spacing: 11px 11px;
}

#navigation {
    background: #4c3fff;
    width: 25%;
    height: 600px;
}

#sidebar {
    background: #eb0a0a;
    height: 40px;
}

#content {
    background: #4c3fff;
    width: 50%;
    height: 520px;
}