#header {
    position:relative;
    background: #faca45;
    height: 55px;
    float: both;
}

#title {
    position: absolute; 
    left: 10px;
    top: 13px;
    background: #ffffff;
    width: 30%;
    height: 30px;
    float: left;
}

 #container {
    width: 90%;
    margin-left: 5%;
    height: 710px;
    border-collapse: collapse;
    border: 1px solid black;
    position:relative;
}

#navigation {
    background: #4c3fff;
    width: 25%;
    height: 600px;
    float: left;
}

#content {
    background: #ffffff;
    width: 75%;
    height: 600px;
    float: right;
}

#sidebar1 {
    background: #eb0a0a;
    position: relative; 
    top: 2%;
    left: 15%;
    width: 70%;
    height: 40px;
    float: both;
}

#sidebar2 {
    background: #eb0a0a;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    float: both;
}

#block1 {
    background: #eeeded;
    float:left;
    position: relative;
    top: 2%; 
    left: 2%;
    width: 47%;
    height: 520px;
}

#block2 {
    background: #4c3fff;
    float: right;
    position: relative;
    top: 2%;  
    right: 2%;
    width: 47%;
    height: 520px;
}

#footer {
    position:absolute;
    bottom: 0px;
    background: #faca45;
    height: 55px;
    width: 100%;
    float: both;
}

#clear {
    clear: both;
    height: 10px;
    float: both;
}
